.restaurant-details-top {
  width: 100vw;
  height: 50vh;
  background: #333333;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.food-items-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.restaurant-image {
  width: 445px;
  height: 280px;
  left: 165px;
  top: 32px;
  border-radius: 8px;
  margin-right: 20px;
}

.restaurant-name-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.individual-restaurant-details {
  display: flex;
  flex-direction: column;
}

.restaurant-name-para {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.rating-box {
  display: flex;
  flex-direction: row;
}

.rating-styling {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  display: flex;
  align-items: center;

  color: #ffffff;
}

.rating-reviews {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;

  /* Light / blue-gray / 200 */

  color: #e2e8f0;
}
